# Ignore all .css - it is derived/compiled from .scss.
# For now, check the CSS in.
# TODO: Remove this, and work out how to build the css when we deploy.
#*.css

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


