// COLOR VARIABLES
$color-primary: #fd59f1;
$color-primary-dark: #ffb8fb;

$color-secondary: #101d2c;

$color-grey-light: #c8c3c8;
$color-grey-dark: #393739;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;



/*Universal declaration - will apply these settings to all elements, also select all before and after pseudoelements - prevents strange behaviour*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit; /*forcing inheritance on each element from body - this is considered good practice*/
}

html {
  font-size: 62.5%; /*We want default size of 10px to make our lives easier - now we know that 1rem = 10px*/
  /*Therefore, we assume that default font size is 16px, and set the font-size to the appropriate % so that 1rem = 10px (10/16)*/
}

body {
  box-sizing: border-box; /*changes box model so that borders and paddings are not added to total width/height specified for a box*/
  padding: 3rem; /* padding around body - not inherited to other elements*/

}