// COLOR VARIABLES
$color-primary-pale: #eaf1ff;
$color-primary-gradient: #052877;
$color-primary: #001647;

$color-secondary: #e53508;
$color-secondary-gradient: #f1641f;


$color-grey-lightest: #f3f3f3;
$color-grey-light: #bebcbe;
$color-grey-medium: #838083;
$color-grey-dark: #393739;

$color-white: #ffffff;
$color-black: #000000;

$color-success: #0da000;

// BREAK POINTS
$break-tiny: 260px;
$break-smallest: 420px;
$break-small: 760px;
$break-medium: 1000px;
$break-large: 1260px;
$break-largest: 1500px;


// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;



/*Universal declaration - will apply these settings to all elements, also select all before and after pseudoelements - prevents strange behaviour*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit; /*forcing inheritance on each element from body - this is considered good practice*/
}

html {
  font-size: 62.5%; /*We want default size of 10px to make our lives easier - now we know that 1rem = 10px*/
  /*Therefore, we assume that default font size is 16px, and set the font-size to the appropriate % so that 1rem = 10px (10/16)*/
}

body {
  box-sizing: border-box; /*changes box model so that borders and paddings are not added to total width/height specified for a box*/
  padding: 3rem; /* padding around body - not inherited to other elements*/

  @media only screen and (max-width: $break-medium) {
    padding: 0;
  ;
  }


}

a {
  text-decoration: none;
  color: inherit;

  &:hover, &:focus, &:active {
    color: $color-white;

  }

}

