body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  font-size: 1.2rem;


  @media only screen and (max-width: $break-largest) {
    font-size: 1rem;
  }
  @media only screen and (max-width: $break-large) {
    font-size: 1rem;
  }
  @media only screen and (max-width: $break-medium) {
    font-size: 1.4rem;
  }
  @media only screen and (max-width: $break-small) {
    font-size: 1.2rem;
  }
  @media only screen and (max-width: $break-smallest) {
    font-size: 1.5rem;
  }
  @media only screen and (max-width: $break-tiny) {
    font-size: 1rem;
  }
}

.heading1 {
  color: $color-primary;
  text-transform: uppercase;
  font-size: 2.8rem;
  padding-left: 3rem;

  @media only screen and (max-width: $break-large) {
    font-size: 2.2rem;
  }
  @media only screen and (max-width: $break-medium) {
    font-size: 1.7rem;
    padding-right: 3rem;

  }
  @media only screen and (max-width: $break-small) {
    font-size: 2.5rem;
  }
  @media only screen and (max-width: $break-smallest) {
    font-size: 2rem;
    padding: 1rem;
  }
  @media only screen and (max-width: $break-tiny) {
    font-size: 1.2rem;
  }
}

.heading2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  color: $color-primary;


  &--form {
    @media only screen and (max-width: $break-small) {
      color: $color-white;
    }
  }

  &--warning {
    color: $color-warning;
  }
}

.alert-box-text {
  font-size: 1.5rem;
  margin: 0.5rem 2.5rem;
  font-weight: 600;
}

.para {
  position: absolute;
  top: 0;
  right: 10%;
  margin-right: 3.5rem;
  font-size: 1.4rem;
}

.link {
  color: $color-primary;

  &:hover {
    color: $color-primary-bright;
    cursor: pointer;
  }
}