body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading1 {
  color: $color-primary-dark;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-size: 3rem;
}

.heading_form {
  color: $color-primary-dark;
  text-transform: uppercase;
  text-align: center;
  //margin-bottom: 2rem;
  //margin-top: 2rem;
  font-size: 2rem;

}