@charset "UTF-8";
/*Universal declaration - will apply these settings to all elements, also select all before and after pseudoelements - prevents strange behaviour*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*forcing inheritance on each element from body - this is considered good practice*/
}

html {
  font-size: 62.5%;
  /*We want default size of 10px to make our lives easier - now we know that 1rem = 10px*/
  /*Therefore, we assume that default font size is 16px, and set the font-size to the appropriate % so that 1rem = 10px (10/16)*/
}

body {
  box-sizing: border-box;
  /*changes box model so that borders and paddings are not added to total width/height specified for a box*/
  padding: 3rem;
  /* padding around body - not inherited to other elements*/
}
@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus, a:active {
  color: #ffffff;
}

.flex__full {
  flex: 0 0 100%;
}

.flex__oneEleventh {
  flex: 0 0 calc(100% * (1/11));
}

.flex__fiveElevenths {
  flex: 0 0 calc(100% * (5/11));
}

@media only screen and (max-width: 1000px) {
  .flex__oneHalfAtMediumBreak {
    flex: 0 0 calc(50%);
  }
}

.flexwrapper {
  display: flex;
  justify-content: space-around;
}
.flexwrapper--justify-end {
  justify-content: flex-end;
}
@media only screen and (max-width: 760px) {
  .flexwrapper--form {
    flex-direction: column;
  }
}
.flexwrapper__vertical {
  flex-direction: column;
}

.flex__wrap {
  flex-wrap: wrap;
}

.flex__half--form {
  flex: 50%;
  margin: 0 1rem;
}

.flex__full--form {
  flex: 100%;
  margin: 0 1rem;
}

.flex__third--form {
  flex: 33.33333%;
  margin: 0 1rem;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.alert {
  display: none;
  display: flex;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  align-items: center;
  justify-content: center;
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .alert {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.alert .alert__background {
  max-width: 60rem;
  max-height: 15rem;
  background-color: #f3f3f3;
}
.alert__btn {
  display: flex;
  align-self: center;
  padding: 1rem;
}

.message {
  opacity: 0;
  display: none;
  animation-name: fadeout;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  width: 100%;
  color: #0da000;
  font-size: 3rem;
  position: fixed;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #ffffff;
  text-align: center;
}
.message--warning {
  color: #e53508;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    display: inline-block;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  text-align: center;
  border: none;
  cursor: pointer;
}
.btn--table {
  width: 80%;
  min-width: 5rem;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem 0rem;
  margin: 0.5rem 0.5rem;
}
@media only screen and (max-width: 1000px) {
  .btn--table {
    width: 20%;
    margin: 0.5rem 2.5rem;
  }
}
@media only screen and (max-width: 760px) {
  .btn--table {
    width: 20%;
    min-width: 10rem;
    margin: 0.5rem 2.5rem;
  }
}
@media only screen and (max-width: 260px) {
  .btn--table {
    min-width: 6rem;
    margin: 0.3rem;
  }
}
.btn--form {
  width: 20rem;
  line-height: 1.3rem;
  padding: 1rem 2rem;
  margin: 0.5rem 3rem;
}
@media only screen and (max-width: 760px) {
  .btn--form {
    width: 16rem;
    margin: 0.5rem 1rem;
  }
}
@media only screen and (max-width: 420px) {
  .btn--form {
    width: 12rem;
  }
}
@media only screen and (max-width: 260px) {
  .btn--form {
    width: 10rem;
  }
}
.btn--alert {
  width: 20rem;
  line-height: 1.3rem;
  padding: 1rem 2rem;
  margin: 0.5rem 1.5rem;
}
@media only screen and (max-width: 760px) {
  .btn--alert {
    width: 16rem;
    margin: 0.5rem 1rem;
  }
}
.btn:hover {
  filter: brightness(0.9);
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  filter: brightness(1.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}
.btn:focus {
  outline: none;
}
.btn--primary {
  background-image: linear-gradient(to right bottom, #001647, #052877);
  color: #ffffff;
}
.btn--primary::after {
  background-image: linear-gradient(to right bottom, #001647, #052877);
}
.btn--secondary {
  background-image: linear-gradient(to right bottom, #e53508, #f1641f);
  color: #ffffff;
}
.btn--secondary::after {
  background-image: linear-gradient(to right bottom, #e53508, #f1641f);
}
.btn--grey {
  background-image: linear-gradient(to right bottom, #838083, #bebcbe);
  color: #001647;
}
.btn--grey::after {
  background-image: linear-gradient(to right bottom, #838083, #bebcbe);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.form {
  width: 100%;
  display: flex;
}

.addEdit {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all 0.3s;
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .addEdit {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 760px) {
  .addEdit {
    overflow-y: auto;
  }
}
.addEdit:target {
  opacity: 1;
  visibility: visible;
  display: flex;
}
.addEdit:target .addEdit__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.addEdit__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0rem;
  background: #001647;
  background: linear-gradient(135deg, #001647 0%, #052877 50%, #eaf1ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
  overflow-y: auto;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 760px) {
  .addEdit__content {
    width: 100%;
  }
}
.addEdit__content .form {
  background-color: rgba(190, 188, 190, 0.75);
  display: flex;
  flex-direction: column;
  margin: 2rem;
  max-width: 60rem;
}
@media only screen and (max-width: 760px) {
  .addEdit__content .form {
    background-color: rgba(190, 188, 190, 0);
    max-width: 100%;
    height: 100vh;
    margin: 0;
  }
}
.addEdit__content .form__input {
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 1rem;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  margin-top: 1rem;
  width: 100%;
}
@media only screen and (max-width: 760px) {
  .addEdit__content .form__input {
    margin-top: 0.5rem;
  }
}
.addEdit__content .form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #125aff;
  background-color: #ffffff;
}
.addEdit__content .form__input::-webkit-input-placeholder {
  color: #838083;
}
.addEdit__content .form__close:link, .addEdit__content .form__close:visited {
  color: #001647;
  padding: 2rem;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}
@media only screen and (max-width: 760px) {
  .addEdit__content .form__close:link, .addEdit__content .form__close:visited {
    color: #ffffff;
  }
  .addEdit__content .form__close:link:hover, .addEdit__content .form__close:visited:hover {
    color: #f3f3f3;
  }
}
.addEdit__content .form__close:hover {
  color: #052877;
}
.addEdit__content .form__label {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.5rem;
  display: block;
  transition: all 0.3s;
}
@media only screen and (max-width: 760px) {
  .addEdit__content .form__label {
    display: none;
  }
}
.addEdit__content .form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.addEdit__content .form__btn {
  display: flex;
  align-self: center;
  padding: 2rem;
}

.select-text-default {
  color: #838083 !important;
}

.addEditForm {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}

select {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -moz-user-select: none !important;
}

.hamburger-menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  color: #ffffff;
  font-size: 8vw;
  display: flex;
}
.hamburger-menu:target {
  opacity: 1;
  visibility: visible;
}
.hamburger-menu:target .hamburger-menu__background {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.hamburger-menu__background {
  background-color: #001647;
}
.hamburger-menu__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  cursor: pointer;
}
.hamburger-menu__list__item {
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 3rem;
}
.hamburger-menu__list__item:hover, .hamburger-menu__list__item:active {
  background-color: #ffffff;
  color: #001647;
}
.hamburger-menu__close:link, .hamburger-menu__close:visited {
  display: inline-block;
  justify-content: flex-end;
  color: #ffffff;
  padding: 2rem;
  font-size: 4rem;
  text-decoration: none;
  transition: all 0.2s;
  line-height: 1;
  float: right;
}
.hamburger-menu__close:hover {
  color: #f3f3f3;
}

.nav {
  display: flex;
  background-color: #f3f3f3;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
}
@media only screen and (max-width: 760px) {
  .nav {
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid #001647;
    width: 100%;
  }
}
.nav--burger {
  display: none;
  width: 4rem;
  height: 2rem;
  justify-content: center;
  margin: 2rem;
  cursor: pointer;
}
@media only screen and (max-width: 760px) {
  .nav--burger {
    display: flex;
  }
}
.nav--burger span {
  background-color: #001647;
  width: 3rem;
  height: 0.3rem;
}
.nav--burger span::before {
  content: "";
  width: inherit;
  height: inherit;
  background-color: inherit;
  display: block;
  margin: -1rem 0;
  transition: all 0.2s;
}
.nav--burger span::after {
  content: "";
  width: inherit;
  height: inherit;
  background-color: inherit;
  display: block;
  margin: 2.8rem 0;
  transition: all 0.2s;
}
.nav--burger:hover span {
  filter: brightness(0.9);
}
.nav--burger:hover span::before {
  transform: translateY(-1px);
}
.nav--burger:hover span::after {
  transform: translateY(1px);
}
.nav--burger:active span {
  filter: brightness(1.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.nav--burger:active span::before {
  transform: translateY(1px);
}
.nav--burger:active span::after {
  transform: translateY(-1px);
}

.heading__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 760px) {
  .newEntryWrapper {
    display: none;
  }
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search--hamburger {
  animation-name: scrolldown;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
.search__input {
  font-family: inherit;
  font-size: 1.6rem;
  color: #001647;
  background-color: #ffffff;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 95%;
  transition: all 0.2s;
  margin-right: -3.5rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 760px) {
  .search__input {
    width: 90%;
  }
}
.search__input:placeholder-shown {
  width: 90%;
  color: #838083;
}
.search__input:focus {
  outline: none;
  width: 95%;
  background-color: #ffffff;
  color: #001647;
}
@media only screen and (max-width: 760px) {
  .search__input:focus {
    width: 90%;
  }
}
.search__input:focus + .search__button {
  background-color: #ffffff;
}
.search__button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(1px);
  background-color: rgba(255, 255, 255, 0);
}
.search__icon {
  height: 2rem;
  width: 2rem;
}
.search__clear:link, .search__clear:visited {
  color: #001647;
  padding: 0;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
  align-self: center;
  margin-left: 2rem;
}
.search__clear:link:hover, .search__clear:visited:hover {
  color: #125aff;
}
.search__clear--hamburger:link, .search__clear--hamburger:visited {
  color: #ffffff;
}
.search__clear--hamburger:hover {
  color: #f3f3f3;
}
@media only screen and (max-width: 760px) {
  .search {
    display: none;
  }
}
.search--hamburger {
  display: none;
  margin: 1rem 0 0 2rem;
}

svg, embed {
  pointer-events: none;
}

@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(1rem);
    opacity: 1;
  }
}
.table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.table--name, .table--accompanied, .table--action {
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .table--name, .table--accompanied, .table--action {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1000px) {
  .table--action {
    flex: 0 0 100%;
  }
}
@media only screen and (max-width: 420px) {
  .table--action {
    align-self: center;
    margin: 1.5rem 0;
  }
}
@media only screen and (max-width: 260px) {
  .table--action {
    margin: 0.5rem 0;
  }
}
.table__head {
  background-color: #001647;
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.table__head .row {
  line-height: 2rem;
  display: flex;
  align-items: center;
}
.table__head .row .cell {
  padding: 1rem;
  display: flex;
  flex: 1;
  flex-basis: calc(100% / 12);
  align-self: center;
}
@media only screen and (max-width: 1000px) {
  .table__head .row .cell {
    align-self: inherit;
  }
}
@media only screen and (max-width: 1000px) {
  .table__head {
    display: none;
  }
}
.table__body {
  display: flex;
  flex-direction: column;
}
.table__body .row {
  background-color: #f3f3f3;
  color: #393739;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.table__body .row:nth-of-type(even) {
  background-color: #ffffff;
}
@media only screen and (min-width: 1000px) {
  .table__body .row:hover {
    color: #001647;
    background-color: #eaf1ff;
  }
}
.table__body .row:last-of-type {
  border-bottom: thin solid #001647;
}
@media only screen and (max-width: 760px) {
  .table__body .row:first-of-type {
    padding-top: 10rem;
  }
}
.table__body .row .cell {
  padding: 1rem;
  display: flex;
  flex: 1;
  flex-basis: calc(100% / 12);
  align-self: center;
}
@media only screen and (max-width: 1000px) {
  .table__body .row .cell {
    align-self: inherit;
  }
}
@media only screen and (max-width: 1000px) {
  .table__body .row .cell {
    padding: 0.5rem 0 0.5rem 2rem;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 420px) {
  .table__body .row .cell {
    padding: 0.3rem 0.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  .table__body .row .cell--action {
    flex-direction: column;
    align-content: center;
    padding: 0.5rem 0 0.5rem 0;
  }
}
@media only screen and (max-width: 420px) {
  .table__body .row {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }
}

.pseudo--title::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--title::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Title: \a";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--title::before {
    padding: 0;
  }
}

.pseudo--firstName::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--firstName::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Composer first name:\a ";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--firstName::before {
    padding: 0;
  }
}

.pseudo--lastName::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--lastName::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Composer last name:\a ";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--lastName::before {
    padding: 0;
  }
}

.pseudo--arranger::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--arranger::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Arranger: \a";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--arranger::before {
    padding: 0;
  }
}

.pseudo--voiceParts::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--voiceParts::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Voice parts:\a";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--voiceParts::before {
    padding: 0;
  }
}

.pseudo--accompanied::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--accompanied::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Accompanied:\a";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--accompanied::before {
    padding: 0;
  }
}

.pseudo--season::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--season::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Season:\a";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--season::before {
    padding: 0;
  }
}

.pseudo--seasonAdditional::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--seasonAdditional::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Season (additional):\a";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--seasonAdditional::before {
    padding: 0;
  }
}

.pseudo--location::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--location::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Location:\a";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--location::before {
    padding: 0;
  }
}

.pseudo--collection::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--collection::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Collection:\a\a";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--collection::before {
    padding: 0;
  }
}

.pseudo--action::before {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .pseudo--action::before {
    display: flex;
    padding: 0 0.5rem 0 0;
    font-weight: 700;
    content: "Action:\a";
  }
}
@media only screen and (max-width: 1000px) and (max-width: 260px) {
  .pseudo--action::before {
    padding: 0;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #393739;
  font-size: 1.2rem;
}
@media only screen and (max-width: 1500px) {
  body {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1260px) {
  body {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1000px) {
  body {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 760px) {
  body {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 420px) {
  body {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 260px) {
  body {
    font-size: 1rem;
  }
}

.heading1 {
  color: #001647;
  text-transform: uppercase;
  font-size: 3rem;
  padding-left: 3rem;
}
@media only screen and (max-width: 1260px) {
  .heading1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  .heading1 {
    font-size: 2rem;
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 760px) {
  .heading1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 420px) {
  .heading1 {
    font-size: 2rem;
    padding: 1rem;
  }
}
@media only screen and (max-width: 260px) {
  .heading1 {
    font-size: 1.2rem;
  }
}

.heading2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  color: #001647;
}
@media only screen and (max-width: 760px) {
  .heading2--form {
    color: #ffffff;
  }
}
.heading2--warning {
  color: #e53508;
}

.alert-box-text {
  font-size: 1.5rem;
  margin: 0.5rem 2.5rem;
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
