.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    text-align: center;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &--table {
    width: 80%;
    min-width: 5rem;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.5rem 0rem;
    margin: 0.5rem 0.5rem;


      @media only screen and (max-width: $break-medium) {
        width: 20%;
        //font-size: 1.2rem;
        margin: 0.5rem 2.5rem
      }


    @media only screen and (max-width: $break-small) {
      width: 20%;
      min-width: 10rem;
      margin: 0.5rem 2.5rem
    }

    @media only screen and (max-width: $break-tiny) {
      min-width: 6rem;
      margin: 0.3rem;
    }
  }

  &--form {
    width: 20rem;
    //font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 1rem 2rem;
    margin: 0.5rem 3rem;

    @media only screen and (max-width: $break-small) {
      width: 16rem;
      margin: 0.5rem 1rem
    }

    @media only screen and (max-width: $break-smallest) {
      width: 14rem;
    }

    @media only screen and (max-width: $break-tiny) {
      width: 10rem;
    }

  }

  &--login {
    @media only screen and (max-width: $break-small) {
      background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-light) !important;
      color: $color-primary !important;

      &::after {
        background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-light) !important;
      }
      @media only screen and (max-width: $break-small) {
        width: 20rem;
      }

      @media only screen and (max-width: $break-smallest) {
        width: 20rem;
      }

      @media only screen and (max-width: $break-tiny) {
        width: 15rem;
      }
    }
  }

  &--alert {
    width: 20rem;
    //font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 1rem 2rem;
    margin: 0.5rem 1.5rem;

    @media only screen and (max-width: $break-small) {
      width: 16rem;
      margin: 0.5rem 1rem
    }

  }

  &:hover {
    filter: brightness(0.9);
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
  }

  &:active {
    filter: brightness(1.1);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    transform: translateY(-1px);
  }

  &:focus {
    outline: none;
  }

  &--primary {
    background-image: linear-gradient(to right bottom, $color-primary, $color-primary-gradient);
    color: $color-white;

    &::after {
      background-image: linear-gradient(to right bottom, $color-primary, $color-primary-gradient);
    }
  }

  &--secondary {
    background-image: linear-gradient(to right bottom, $color-warning, $color-warning-gradient);
    color: $color-white;

    &::after {
      background-image: linear-gradient(to right bottom, $color-warning, $color-warning-gradient);
    }
  }

  &--grey {
    background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-light);
    color: $color-primary;

    &::after {
      background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-light);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }


}

