.glossary {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: $color-primary;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  align-items: center;
  overflow: auto; // ensures blue background entirely covers div, rather than just 100vh
  font-size: 1.6rem;


  &__content {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    width: 100%;

    @media only screen and (max-width: $break-small) {
      align-self: flex-start;
      margin-top: 3rem;
    }
  }


  .g-table {
    width: 50%;
    align-self: center;
    border: none;
    border-collapse: collapse;
    color: $color-white;

    @media only screen and (max-width: $break-medium) {
      width: 65%;
    }
    @media only screen and (max-width: $break-small) {
      width: 80%;
      font-size: 1.3rem;
    }
    @media only screen and (max-width: $break-smallest) {
      width: 90%;
      font-size: 1.1rem;

    }
    @media only screen and (max-width: $break-tiny) {
      width: 100%;
      font-size: 1rem;
    }

    &--header {
      text-align: right;
      padding: 1rem;
      border: none;
    }
    &--cell {
      padding: 0.5rem 1rem;
    }

    &--left {
      width: 20%;
      border: 1px solid $color-white;
    }

    &--right {
      width: 80%;
      border: 1px solid $color-white;

    }
  }


  &__close {
    color: $color-white;
    font-size: 4rem;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
    position: relative;
    left: 80%;
    top: 2rem;

    @media only screen and (max-width: $break-medium) {
      font-size: 3.5rem;
      left: 90%;
    }
    @media only screen and (max-width: $break-small) {
      font-size: 3rem;
      //right: -3rem;

    }
    @media only screen and (max-width: $break-smallest) {
      //right: -1rem;
    }
    @media only screen and (max-width: $break-tiny) {
    }

  }

}