.nav {
  display: flex;
  background-color: $color-grey-lightest;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
  height: 10rem;

  @media only screen and (max-width: $break-small) {
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid $color-primary;
    width: 100%;
  }


  &--burger {
    display: none;
    width: 4rem;
    height: 2rem;
    justify-content: center;
    margin: 2rem;
    cursor: pointer;

    @media only screen and (max-width: $break-small) {
      display: flex;
    }

    span {
      background-color: $color-primary;
      width: 3rem;
      height: 0.3rem;


      &::before {
        content: "";
        width: inherit;
        height: inherit;
        background-color: inherit;
        display: block;
        margin: -1rem 0;
        transition: all .2s;

      }

      &::after {
        content: "";
        width: inherit;
        height: inherit;
        background-color: inherit;
        display: block;
        margin: 2.8rem 0;
        transition: all .2s;
      }
    }

    &:hover {
      span {
        filter: brightness(0.9);

        &::before {
          transform: translateY(-1px);
        }

        &::after {
          transform: translateY(1px);
        }
      }
    }


    &:active {
      span {
        filter: brightness(1.1);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);

        &::before {
          transform: translateY(1px);
        }

        &::after {
          transform: translateY(-1px);
        }
      }
    }
  }
}

.heading__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newEntryWrapper {
  @media only screen and (max-width: $break-small) {
    display: none;
  }
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;


  &__input {
    font-family: inherit;
    font-size: 1.2rem;
    color: $color-grey-dark;
    background-color: $color-white;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 95%;
    transition: all .2s;
    margin-right: -3.5rem;

    &:placeholder-shown {
      width: 90%;
      color: $color-grey-medium;
    }

    &:focus {
      outline: none;
      width: 95%;
      background-color: $color-white;
      color: $color-grey-dark;
    }

  }

  &__input:focus + &__button {
    background-color: $color-white;
  }

  &__button {
    border: none;
    background-color: $color-white;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(1px);
      background-color: rgba($color-white, 0);

    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }


  &__clear {
    &:link,
    &:visited {
      color: $color-grey-dark;
      padding: 0;
      font-size: 1.2rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
      align-self: center;
      margin-left: 2rem;

      &:hover {
        color: $color-primary;
      }

    }
  }

  @media only screen and (max-width: $break-small) {
    display: none;
  }
}


svg, embed {
  pointer-events: none;
}
