.nav {
  display: flex;
  flex-direction: column;
  background-color: $color-grey-lightest;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
  height: 10rem;

  &--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;

    @media only screen and (max-width: $break-small) {
      height: 100%;
    }

  }

  &--bottom {
    display: flex;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;

    .menu {
      display: flex;
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      &__list {
        display: flex;
        width: 100%;
        justify-content: space-between;

        &--left {
          display: flex;

        }

        &--right {
          display: flex;

        }

        &--item {
          display: flex;
          padding: 1.3rem;
          font-size: 1.2rem;
          color: $color-primary;

          &:hover {
            background-color: $color-primary;
            color: $color-white;
            cursor: pointer;
          }

        }
      }
    }

    @media only screen and (max-width: $break-small) {
      display: none;
    }
  }

  @media only screen and (max-width: $break-small) {
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid $color-primary;
    width: 100%;
  }


  &--burger {
    display: none;
    width: 4rem;
    height: 2rem;
    justify-content: center;
    margin: 2rem;
    cursor: pointer;

    @media only screen and (max-width: $break-small) {
      display: flex;
    }

    span {
      background-color: $color-primary;
      width: 3rem;
      height: 0.3rem;


      &::before {
        content: "";
        width: inherit;
        height: inherit;
        background-color: inherit;
        display: block;
        margin: -1rem 0;
        transition: all .2s;

      }

      &::after {
        content: "";
        width: inherit;
        height: inherit;
        background-color: inherit;
        display: block;
        margin: 2.8rem 0;
        transition: all .2s;
      }
    }

    &:hover {
      span {
        filter: brightness(0.9);

        &::before {
          transform: translateY(-1px);
        }

        &::after {
          transform: translateY(1px);
        }
      }
    }


    &:active {
      span {
        filter: brightness(1.1);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);

        &::before {
          transform: translateY(1px);
        }

        &::after {
          transform: translateY(-1px);
        }
      }
    }
  }
}

.newEntryWrapper {
  @media only screen and (max-width: $break-small) {
    display: none;
  }
}

.search {
  flex: 0 0 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  &--hamburger {
    animation-name: scrolldown;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
  }


  &__input {
    font-family: inherit;
    font-size: 1.6rem;
    color: $color-primary;
    background-color: $color-white;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 95%;
    transition: all .2s;
    margin-right: -3.5rem;
    @include boxShadow;

    @media only screen and (max-width: $break-small) {
      width: 90%;
    }


    &:placeholder-shown {
      width: 90%;
      color: $color-grey-medium;
    }

    &:focus {
      outline: none;
      width: 95%;
      background-color: $color-white;
      color: $color-primary;

      @media only screen and (max-width: $break-small) {
        width: 90%;
      }
    }

  }

  &__input:focus + &__button {
    background-color: $color-white;
  }

  &__button {
    border: none;
    background-color: $color-white;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(1px);
      background-color: rgba($color-white, 0);

    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }


  &__clear {
    &:link,
    &:visited {
      color: $color-primary;
      padding: 0;
      font-size: 1.2rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
      align-self: center;
      margin-left: 2rem;

      &:hover {
        color: $color-primary-bright;
      }
    }

    &--hamburger {
      &:link,
      &:visited {
        color: $color-white;
      }

      &:hover {
        color: $color-grey-lightest;
      }
    }
  }

  @media only screen and (max-width: $break-small) {
    display: none;
  }

  &--hamburger {
    display: none;
    //margin: 1rem 3rem 0 2rem;
    margin: 1rem 0 0 2rem;

  }

}


svg, embed {
  pointer-events: none;
}


@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(1rem);
    opacity: 1;
  }
}