.table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;




  &--id, &--name, &--season, &--accompanied, &--composer, &--voice, &--season, &--location, &--action {
    display: flex;

    @media only screen and (max-width: $break-medium) {
      flex-direction: column;
    }

  }

  &--action {
    @media only screen and (max-width: $break-medium) {
      flex: 0 0 100%;
    }

    @media only screen and (max-width: $break-smallest) {
      align-self: center;
      margin: 1.5rem 0;
    }
  }

  &__head {
    background-color: $color-primary-dark;
    color: $color-white;
    text-align: left;
    display: flex;
    flex-direction: column;

    .row {
      line-height: 2rem;
      display: flex;
      align-items: center;


      .cell {
        padding: 1rem;
        display: flex;
        flex: 1;
        flex-basis: calc(100% / 12);
      }
    }

    @media only screen and (max-width: $break-medium) {
      display: none;
    }

  }

  &__body {
    display: flex;
    flex-direction: column;

    .row {
      background-color: $color-grey-lightest;
      color: $color-grey-dark;
      display: flex;
      align-items: center;
      flex-wrap: wrap;


      &:nth-of-type(even) {
          background-color: $color-white;
      }

      &:hover {
        color: $color-primary;
      }

      &:last-of-type {
        border-bottom: thin solid $color-primary-dark;
      }

      .cell {
        padding: 1rem;
        display: flex;
        flex: 1;
        flex-basis: calc(100% / 12);

        @media only screen and (max-width: $break-medium) {
          padding: 0.5rem 0 0.5rem 2rem;
          flex-wrap: wrap;
        }

        @media only screen and (max-width: $break-smallest) {
          padding: 0.3rem 0.5rem;
        }

        &--action {
          @media only screen and (max-width: $break-medium) {
            //justify-content: center;
            flex-direction: column;
            align-content: center;
            padding: 0.5rem 0 0.5rem 0;
          }
        }
      }

      @media only screen and (max-width: $break-smallest) {
        flex-direction: column;
        align-items: flex-start;
        //font-size: 1.5rem;
        padding: 0 1rem;
      }
    }
  }
}

.pseudo--title {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Title: " + "\00000a";
    }
  }
}

.pseudo--firstName {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Composer first name:\00000a \00a0";
    }
  }
}

.pseudo--lastName {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Composer last name:\00000a \00a0";
    }
  }
}

.pseudo--arranger {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Arranger: " + "\00000a";
    }
  }
}

.pseudo--voiceParts {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Voice parts:\00000a";
    }
  }
}

.pseudo--accompanied {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Accompanied:\00000a";
    }
  }
}


.pseudo--season {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Season:\00000a";
    }
  }
}

.pseudo--seasonAdditional {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Season (additional):\00000a";
    }
  }
}

.pseudo--location {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Location:\00000a";
    }
  }
}

.pseudo--collection{
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Collection:\00000a\A";
    }
  }
}

.pseudo--action {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      @include pseudoElement--before;
      content: "Action:\00000a";
    }
  }
}

