.table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;

  &--id, &--name, &--composer, &--voice, &--season, &--location, &--action {
    display: flex;

    @media only screen and (max-width: $break-medium) {
      flex-direction: column;
    }

  }

  &__head {
    background-color: $color-primary-dark;
    color: $color-white;
    text-align: left;
    display: flex;
    flex-direction: column;

    .row {
      line-height: 2rem;
      display: flex;
      align-items: center;


      .cell {
        padding: 1rem;
        display: flex;
        flex: 1;
        flex-basis: calc(100% / 12)

      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    .row {
      background-color: $color-white;
      color: $color-grey-dark;
      display: flex;
      align-items: center;


      &:nth-of-type(even) {
          background-color: $color-grey-lightest;
      }

      &:hover {
        color: $color-primary;
      }

      &:last-of-type {
        border-bottom: thin solid $color-primary-dark;
      }

      .cell {
        padding: 1rem;
        display: flex;
        flex: 1;
        flex-basis: calc(100% / 12)
      }
    }
  }
}


.pseudo--title {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Title:\00A0";
    }
  }
}

.pseudo--firstName {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Composer first name:\00A0";
    }
  }
}

.pseudo--lastName {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Composer last name:\00A0";
    }
  }
}

.pseudo--arranger {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Arranger:\00A0";
    }
  }
}

.pseudo--voiceParts {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Voice parts:\00A0";
    }
  }
}

.pseudo--accompanied {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Accompanied:\00A0";
    }
  }
}


.pseudo--season {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Season:\00A0";
    }
  }
}

.pseudo--seasonAdditional {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Season (additional):\00A0";
    }
  }
}

.pseudo--location {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Location:\00A0";
    }
  }
}

.pseudo--collection{
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Collection:\00A0";
    }
  }
}

.pseudo--action {
  &::before {
    display: none;

    @media only screen and (max-width: $break-medium) {
      display: flex;
      font-weight: 700;
      content: "Action:\00A0";
    }
  }
}

