@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin pseudoElement--before {
  display: flex;
  padding: 0 0.5rem 0 0;
  font-weight: 700;
  //white-space: pre;
  }

@mixin tableCell {
  padding: 1rem;
  display: flex;
  flex: 1;
  flex-basis: calc(100% / 12);
  align-self: center;

  @media only screen and (max-width: $break-medium) {
    align-self: inherit;
  }
}

@mixin boxShadow {
  box-shadow: 0 2rem 4rem rgba($color-black, .2);
}