.flex__half {
  flex: 50%;
  margin: 0 1rem;
}

.flex__full {
  flex: 100%;
  margin: 0 1rem;
}

.flex__third {
  flex: 33.33333%;
  margin: 0 1rem;
}

.flexwrapper {
  display: flex;
  justify-content: space-around;

  &--form {
    @media only screen and (max-width: $break-small) {
      flex-direction: column;
    }
  }


  &__vertical {
    flex-direction: column;
  }
}

