.flex__full {
  flex: 0 0 100%;
}

.flex__oneEleventh {
  flex: 0 0 calc(100% * (1/11));
}

.flex__fiveElevenths {
  flex: 0 0 calc(100% * (5/11));
}

.flex__oneHalfAtMediumBreak {
  @media only screen and (max-width: $break-medium) {
    flex: 0 0 calc(50%);
  }
}


.flexwrapper {
  display: flex;
  justify-content: space-around;

  &--justify-end {
    display: flex;
    justify-content: flex-end;

  }

  &--form {
    @media only screen and (max-width: $break-small) {
      flex-direction: column;
      margin: -1px, 0; /*hack to prevent extra spacing being added on iphone/iPad - does not affect appearence on Chrome*/
    }
  }

  &__vertical {
    flex-direction: column;
  }
}

.flex__wrap {
  flex-wrap: wrap;
}

.flex--form {
  margin: 0 1rem;
}

.flex__half--form {
  flex: 50%;
  margin: 0 1rem;
}

.flex__full--form {
  flex: 100%;
  margin: 0 1rem;
}

.flex__third--form{
  flex: 33.33333%;
  margin: 0 1rem;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.displayNone {
  display: none !important;
}

.centerModalView {
  transform: translate(-50%, -50%) scale(1) !important;
}



